:root {
  --primary-bg-color: rgb(223, 202, 233);
  --panel-bg-color: rgb(183, 157, 196);
  --primary-accent-color: rgb(59, 53, 97); 
}

* {
  margin: 0px;
}
header{
  position: sticky;
  top: 0;
  background-color: var(--primary-accent-color);
  height: 40px;
}
header a{
  color:rgb(159, 143, 212)
  
}
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
}
table {
  margin:auto;
  border-style:double;
  border-width: thick;
  border-color: var(--primary-accent-color);
  background-color: var(--panel-bg-color);
  border-radius: 5px;
}
.gallery-image {
  height: 30vh;
  width: 30vh;
  border-style:inset;
  border-width: medium;
  border-color: var(--primary-bg-color);
}
body{
  background-color: var(--primary-bg-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
table,h3,h1{
  margin-top: 20px;
  margin-bottom: 10px;
}

#cartOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.652);
  justify-content: center;
  align-items: center;
  display: none;
}

#viewCart {
  background-color: white;
}

img {
  width: 50%;
  height: 50%;
  border-style:solid;
  border-color: var(--primary-accent-color);
  border-radius: 5px ;
  border-width: 3px;
}
#exitButton{
  
}
^^^make this go on the right of the box later