:root {
  --primary-bg-color: #dfcae9;
  --panel-bg-color: rgb(183, 157, 196);
  --primary-accent-color: #3b3561; 
  --button-background: #b798c5; 
}

* {
  margin: 0px;
}
header{
  position: sticky;
  top: 0;
  background-color: var(--primary-accent-color);
  height: 40px;
}
header a{
  color:rgb(159, 143, 212)
  
}
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
   padding: 5px;
  
}
table {
  margin:auto;
  border-style:double;
  border-width: thick;
  border-color: var(--primary-accent-color);
  background-color: var(--panel-bg-color);
  border-radius: 5px;
}
.gallery-image {
  height: 30vh;
  width: 30vh;
  border-style:inset;
  border-width: medium;
  border-color: var(--primary-bg-color);
}
body{
  background-color: var(--primary-bg-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
table,h3,h1{
  margin-top: 20px;
  margin-bottom: 10px;
}

#cartOverlay {
  position: fixed;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.652);
  justify-content: center;
  align-items: center;
  display: none;

}

#viewCart {
  border-color: var(--primary-accent-color);
  border-style: solid;
  border-radius: 10px;
  background-color: var(--primary-bg-color);
  padding: 10px 50px;
  
}

img {
  width: 50%;
  height: 50%;
  border-style:solid;
  border-color: var(--primary-accent-color);
  border-radius: 5px ;
  border-width: 3px;
}
#button0, #button1,#calculateButton,#exitButton{
 background-color:var(--button-background);
 border-radius: 10px;
 border-color: var(--primary-accent-color);
 
}
#cart {
  background-color: var(--button-background);
  margin: 3px;
  padding: 3px 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px ;
  border-color: #5a5481;
  border-style: inset;
}
select{
  background-color: var(--button-background);
  border-width: 2px;
  border-color: var(--primary-accent-color);
  border-radius: 2px;
}